In [1]:
nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

In [3]:

palavras = map(lambda nome, sobre: f'{nome.capitalize()} {sobre.capitalize()}', nomes, sobrenomes)
for i in palavras:
    print(f'Nome: {i}')

Nome: João Silva
Nome: Maria Souza
Nome: José Tavares

In [3]:
nomes_estudantes = [ "Enrico Monteiro", "Luna Pereira", "Anthony Silveira", "Letícia Fernandes", 
                    "João Vitor Nascimento", "Maysa Caldeira", "Diana Carvalho", "Mariane da Rosa",
                    "Camila Fernandes", "Levi Alves", "Nicolas da Rocha", "Amanda Novaes", 
                    "Laís Moraes", "Letícia Oliveira", "Lucca Novaes", "Lara Cunha", 
                    "Beatriz Martins", "João Vitor Azevedo", "Stephany Rosa", "Gustavo Henrique Lima" ]

medias_estudantes = [5.4, 4.1, 9.1, 5.3, 6.9, 3.1, 10.0, 5.0, 8.2, 5.5,
                    8.1, 7.4, 5.0, 3.7, 8.1, 6.2, 6.1, 5.6, 6.7, 8.2]

scholarships = {nome: nota for nome, nota in zip(nomes_estudantes, medias_estudantes) if nota >= 9}
scholarships

{'Anthony Silveira': 9.1, 'Diana Carvalho': 10.0}

In [4]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

list(map(lambda lista: sum(lista), lista_de_listas))

[24, 10, 16]

In [5]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

list(map(lambda lista: lista[2], lista_de_tuplas))

[81, 67, 83]

In [7]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

[(pos, nome) for pos, nome in enumerate(lista)]

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]