In [1]:
import pandas as pd

In [2]:
data = pd.read_json("data/informacoes.json")
data

   nome  idade                                          enderecos
0  João     28  {'tipo': 'casa', 'rua': 'Rua A', 'numero': 123...
1  João     28  {'tipo': 'trabalho', 'rua': 'Rua B', 'numero':...

In [12]:
import json

In [13]:
with open('data/informacoes.json') as file:
    gross_json = json.load(file)

In [16]:
pd.json_normalize(gross_json, record_path= 'enderecos', meta= ['nome', 'idade'])

       tipo    rua  numero          cidade   nome idade
0      casa  Rua A     123      SÃ£o Paulo  JoÃ£o    28
1  trabalho  Rua B     456  Rio de Janeiro  JoÃ£o    28