In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dados/dados.csv')

In [3]:
data

       UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0      11     0     23    8              12    800  1.603808
1      11     1     23    2              12   1150  1.739790
2      11     1     35    8              15    880  1.760444
3      11     0     46    2               6   3500  1.783158
4      11     1     47    8               9    150  1.690631
...    ..   ...    ...  ...             ...    ...       ...
76835  53     1     46    2              11    812  1.687030
76836  53     0     30    4               7   1500  1.792934
76837  53     0     32    8              12   1300  1.830587
76838  53     0     57    8               4   1500  1.726344
76839  53     0     38    8               4    900  1.658305

[76840 rows x 7 columns]

## Distribuição Binomial

In [4]:
from scipy.special import comb

In [5]:
combinations = comb(60, 6)
combinations

50063860.0

In [6]:
probability = 1 / combinations

In [7]:
combs = comb(25, 20)
combs

53130.0

In [8]:
prob = 1 / combs
print(f'{prob:.15f}')

0.000018821757952

In [12]:
# (comb(p, k ) * (p ** k) + (q ** (n - k)))
n = 10
p = 1 / 3
q = 1 - p
k = 5

pro = comb(p, k ) * (p ** k) + (q ** (n - k))
print('%0.8f' % pro)

0.13168724

In [14]:
from scipy.stats import binom

probability = binom.pmf(k, n, p)
probability

0.13656454808718146

In [15]:
binom.pmf(k = [5, 6, 7, 8, 9, 10], n = 10, p = 1/3).sum()

0.21312808006909476

In [17]:
1 - binom.cdf(k = 4, p = 1/3, n = 10)

0.21312808006909523

In [18]:
binom.sf(k = 4, n = 10, p = 1/3)

0.21312808006909525

In [35]:
binom.sf(k = 2, n = 10, p = 1/6)

0.2247732021287407

In [39]:
prob = binom.pmf(k = 8, n = 12, p = 0.6) # de uma equipe ter 8 mulheres
teams = prob * 30 # número de equipes

0.21284093951999997

In [43]:
prob = binom.pmf(k = 2, n = 3, p = 0.22)
prob * 50

5.662799999999996